@font-face {
    font-family: 'Roboto';
    src: url('./ressources/font/Roboto/Roboto-Regular.ttf');
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    font-family: 'Roboto';
}

main {
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    min-height: 50vh;
    max-width: 45vw;

    border-radius: 2%;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    padding: 15px;
}

h1, h2 {
    margin-top: 0px;
}

.authContent {
    display: flex;
    flex-direction: column-reverse;
}

h2 {
    order: 1;
}

#phone {
    order: 2;

    width: 99%;
    height: 35px;

    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    border-radius: 5px;
    border: none;

    margin-bottom: 15px;
}

#phone::placeholder {
    padding-left: 15px;
}

#disclaimer {
    font-size: x-small;

    order: 3;

    margin-bottom: 15px;
}

#submit {
    order: 4;

    background: rgb(230,30,64);
    background: linear-gradient(94deg, rgba(230,30,64,1) 0%, rgba(227,28,95,1) 44%, rgba(215,4,102,1) 100%);

    border-radius: 3px;
    border: none;

    width: 99%;
    height: 35px;

    font-size: large;
    color: #FFFFFF;

    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.solid {
    border-top: 1px solid #bbb;

    width: 100%;

    margin-bottom: 25px;
}

img {
    height: 25px;
    width: 25px;
}

.otherConnection {
    display: flex;
    flex-direction: column;
}

.connectionCard {
    display: flex;
    

    width: 98%;

    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;

    border-radius: 5px;

    margin-bottom: 15px;
    padding: 5px;
}

.logo {
    justify-self: flex-start;
}

#apple-icon, #facebook-icon {
    width: 30px;
    height: 30px;
}

.text {
    text-align: left;
    margin: auto;
    
}

